@font-face {
  font-family: 'FiraSans-Bold';
  src: url('../../public/fonts/FiraSans-Bold/FiraSans-Bold.eot');
  src: url('../../public/fonts/FiraSans-Bold/FiraSans-Bold.woff2') format('woff2'),
  url('../../public/fonts/FiraSans-Bold/FiraSans-Bold.woff') format('woff'),
  url('../../public/fonts/FiraSans-Bold/FiraSans-Bold.ttf') format('truetype'),
  url('../../public/fonts/FiraSans-Bold/FiraSans-Bold.svg#FiraSans-Bold') format('svg'),
  url('../../public/fonts/FiraSans-Bold/FiraSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('../../public/fonts/FiraSans-Regular/FiraSans-Regular.eot');
  src: url('../../public/fonts/FiraSans-Regular/FiraSans-Regular.woff2') format('woff2'),
  url('../../public/fonts/FiraSans-Regular/FiraSans-Regular.woff') format('woff'),
  url('../../public/fonts/FiraSans-Regular/FiraSans-Regular.ttf') format('truetype'),
  url('../../public/fonts/FiraSans-Regular/FiraSans-Regular.svg#FiraSans-Regular') format('svg'),
  url('../../public/fonts/FiraSans-Regular/FiraSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Heavy';
  src: url('../../public/fonts/FiraSans-Heavy/FiraSans-Heavy.eot');
  src: url('../../public/fonts/FiraSans-Heavy/FiraSans-Heavy.woff2') format('woff2'),
  url('../../public/fonts/FiraSans-Heavy/FiraSans-Heavy.woff') format('woff'),
  url('../../public/fonts/FiraSans-Heavy/FiraSans-Heavy.ttf') format('truetype'),
  url('../../public/fonts/FiraSans-Heavy/FiraSans-Heavy.svg#FiraSans-Heavy') format('svg'),
  url('../../public/fonts/FiraSans-Heavy/FiraSans-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Light';
  src: url('../../public/fonts/FiraSans-Light/FiraSans-Light.eot');
  src: url('../../public/fonts/FiraSans-Light/FiraSans-Light.woff2') format('woff2'),
  url('../../public/fonts/FiraSans-Light/FiraSans-Light.woff') format('woff'),
  url('../../public/fonts/FiraSans-Light/FiraSans-Light.ttf') format('truetype'),
  url('../../public/fonts/FiraSans-Light/FiraSans-Light.svg#FiraSans-Heavy') format('svg'),
  url('../../public/fonts/FiraSans-Light/FiraSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



