h1 {
  font-size: 50px;
  line-height: 60px;
}

h2 {
  font-family: "FiraSans-Heavy", sans-serif;
  font-size: 52px;
  line-height: 52px;
  letter-spacing: 3px;
  color: #1e1e1e;
  text-align: center;
}

h3 {
  font-family: "FiraSans-Heavy", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #1e1e1e;
}

h4 {
  font-family: "FiraSans-Heavy", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}